@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

.App {
    background-color: #2e3444;
    color: #fffdff;
}

header {
    background-color: #1f2c3d;
    padding: 1rem;
    width: 100%
}

footer {
    background-color: #f6b31b;
    padding: 1rem;

}

p {
    font-size: 18px;
    color: #1f2c3d;
}

h5 {
    text-align: center;
    padding-bottom: 1rem;
}

.mainTitle {
    font-family: 'Fascinate', cursive;
    text-align: center;
    font-size: 52px;
    color: #f6b31b;
}

.subTitle {
    font-size: 34px;
    text-align: center;
    padding: 1rem;
    color: #fffdff;
}

.navBar {
    background-color: #f6b31b;
    font-size: 22px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.newNavBar {
    background-color: #fffdff;
    font-size: 22px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

a.topLinks, a.topLinks:link, a.topLinks:visited, a.topLinks:hover, a.topLinks:active {
    color: #1f2c3d;
    text-decoration: none;
    padding: 0.75rem;
    border: 3px solid #f6b31b;
}

a.topLinks:hover {
    background-color: #1f2c3d;
    color:#f6b31b;
    text-decoration: none;
    border: 3px solid #fffdff;
    border-radius: 10px;
}

a.newTopLinks, a.newTopLinks:link, a.newTopLinks:visited, a.newTopLinks:hover, a.newTopLinks:active {
    color: #1f2c3d;
    text-decoration: none;
    padding: 0.75rem;
    border: 3px solid #fffdff;
}

a.newTopLinks:hover {
    background-color: #2e3444;
    color:#f6b31b;
    text-decoration: none;
    border: 3px solid #f6b31b;
    border-radius: 10px;
}

.nav-link:hover {
    color:#f6b31b;
}

.origins, .substyles, .brands, .brewery, .homePage, .signup, .glass, .quantInfo {
    width: 75%;
    margin: 0 auto;
}

.homePage p, .glass p, .quantInfo p {
    color: #fffdff;
    text-align: justify;
    text-indent: 1rem;
}

.homePage h2, .homePage h1, .origins h1, .substyles h1, .brandsSub h1, .allbreweries h1, .glass h1, .profile h1, .quantInfo h1 {
    font-family: 'Fascinate', cursive;
    padding-top: 1rem;
    text-align: center
}

.homePage h3 {
    text-align: center;
}

.list-group-item.substyle {
    background-color: #f6b31b;
}

.list-group-item:last-child {
    background-color: #fffdff;
    color: #1f2c3d;
    margin-bottom: 2rem;
}

.list-group-item.beerBrand {
    padding-bottom: 1.5rem;
}

.brandLink {
    color: #1f2c3d;
    cursor: pointer;
}

.brandLink:hover {
    color: #fffdff;
}

.icons {
    cursor: pointer;
    color: #fffdff;
}

.styleLink {
    font-size: 28px;
    text-decoration: none;
}

a.styleLink, a.styleLink:link, a.styleLink:visited, .accordionCard, .modalLink, .quantInfoList, .quantInfo p {
    color: #1f2c3d;
}

a.styleLink:hover, a.styleLink:active {
    color: #fffdff;
    text-decoration: none;
}

a.cancel, a.cancel:link, a.cancel:visited {
    color: #ffc107;
    text-decoration: none;
}

a.cancel:hover, a.cancel:active {
    color: #fffdff;
    text-decoration: none;
}

a.footerLink, a.footerLink:link, a.footerLink:visited {
    color: #fffdff;
    text-decoration: none;
    font-size: 18px;
}

a.footerLink:hover, a.footerLink:active {
    color: #2e3444;
    text-decoration: none;
    font-size: 18px;
}

.backToTop {
    position: fixed;
    bottom: 6rem;
    left: 2rem;
    color: #f6b31b;
    cursor: pointer;
  }

.fixedStop {
    bottom: 12rem
}

  .webaddress {
      font-size: 26px;
  }

  a.webaddress, a.webaddress:link, a.webaddress:visited{
    color: #fffdff;
    text-decoration: none;
}

.allbreweries {
    padding-bottom: 2rem;
}

.member {
    margin: -2.5rem 2rem 0 80%;
    color: #fffdff;
}

.signup h1 {
    background-color: #f6b31b;
    padding-left: 10%;
    font-family: 'Fascinate', cursive;
}

.signupBar {
    width: 133.7%;
    margin-left: -17%;
    margin-top: -2rem;
}

.logInfo {
    font-size: 22px;
    margin-top: 0.45rem;
}

.cardLinks, .cardLinks:hover {
    color: #fffdff;
    background-color: #1f2c3d;
    text-decoration: none;
    padding: 0.75rem;
    border: 3px solid #f6b31b;
    border-radius: 10px;
}

.glassPics {
    width: 175px;
}

.glass p {
    text-indent: 0;
    color: #1f2c3d;
}

.benefits {
    margin-left: 1rem;
}

p.howToServe {
    color: #fffdff;
    text-indent: 1rem;
}

.btnProfile {
    margin-left: 1rem;
}

.bottom {
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.beerColorIndex {
    font-size: 14px;
    text-align: center;
}

.container.colorsContainer {
    width: 90%;
    max-width: 720px;
}

#black {
    background-color: rgba(52, 1, 2);
}

#darkBrown {
    background-color: rgba(75, 4, 2);
}

#brown {
    background-color: rgba(119, 46, 10);
}

#lightBrown {
    background-color: rgba(142, 69, 19);
}

#copper {
    background-color: rgba(194, 118, 42);
}

#mediumAmber {
    background-color: rgba(214, 143, 50);
}

#gold{
    background-color: rgba(235, 187, 68);
}

#pale{
    background-color: rgba(254, 216, 99);
}

#straw{
    background-color: rgba(255, 231, 122);
}

#lightYellow{
    background-color: rgba(254, 250, 196);
    color: rgba(254, 250, 196);
}

.footerCont li{
    list-style: none;
}

.footerCont h1 {
    font-family: 'Fascinate', cursive;
}

.footerCont p {
    color: #fffdff
}

.footerCont ul {
    color: #2e3444
}

.study {
    margin-bottom: 2rem
}