@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

body {
    background-color: #fffdff;
    color: #333333;
}

header {
    background-color: #1f2c3d;
    padding: 1rem;
}

p {
    font-size: 18px;
}

.mainTitle {
    font-family: 'Fascinate', cursive;
    text-align: center;
    font-size: 52px;
    color: #f6b31b;
}

.subTitle {
    font-size: 34px;
    text-align: center;
    padding: 1rem;
    color: #2e3444;
}

.navBar {
    background-color: #f6b31b;
    font-size: 22px;
    padding: 0.5rem 0 0.5rem 0;
}

a.topLinks, a.topLinks:link, a.topLinks:visited, a.topLinks:hover, a.topLinks:active {
    color: #1f2c3d;
    text-decoration: none;
    padding: 0.75rem;
    border: 3px solid #f6b31b;
}

a.topLinks:hover {
    background-color: #1f2c3d;
    color:#f6b31b;
    text-decoration: none;
    border: 3px solid #fffdff;
    border-radius: 10px;
}

.nav-link:hover {
    color:#f6b31b;
}

.origins {
    width: 75%;
    margin: 0 auto;
}

.list-group-item.substyle {
    background-color: #f6b31b;
}

.list-group-item:last-child {
    background-color: #2e3444;
    color: #fffdff;
}

.styleLink {
    font-size: 28px;
    text-decoration: none;
}

a.styleLink, a.styleLink:link, a.styleLink:visited{
    color: #1f2c3d;
}

a.styleLink:hover, a.styleLink:active {
    color: #fffdff;
    text-decoration: none;
}